body {
  background: #6c35c7;
}

main {
  margin: 0 25% 0 25%;
  background: #d77aec;
  height: 100%;
  border-radius: 5%;
  padding: 15px;
  font-family: 'Press Start 2P';
}

h1 {
  color: white;
  text-align: center;
}

ol {
  font-size: 1.2em;
  margin: 5%;
}

li {
  margin-bottom: 5px;
}

